.buttonAddClient {
  width: 40px;
  color: #184087;
  cursor: pointer;
}

.thStatus {
  width: 205px;
}

.funnelIcon {
  width: 35px;
  margin: 0 20px;
  color: #184087;
  cursor: pointer;
}

.iconFilter {
  width: 30px;
  color: #fff;
  margin: 0;
}

.table div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formFilter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnFilter {
  color: #fff;
  width: 50px;
  margin: 0 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}