.editClient {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 400px 1fr;
  grid-template-areas:
    "resume form"
    "visits visits";
  align-items: center;
  margin: 10px 30px 50px 0;
  gap: 20px;
}

.buttonEdit,
.buttonCancel {
  width: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.buttonEdit {
  color: #184087;
}

.buttonCancel {
  color: red;
}

.buttonAddVisit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #184087;
  width: 215px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 15px;
}

.buttonAddVisit svg {
  width: 60px;
  margin: 0 50px;
  cursor: pointer;
}

.btnBack {
  position: absolute;
  top: 45px;
  width: 50px;
  color: #184087;
  cursor: pointer;
}

*:disabled {
  opacity: 1;
}

.resume {
  display: flex;
  grid-area: resume;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #184087;
}

.visitsLabel {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  grid-area: visits;
  background-color: #D9D9D9;
  height: 350px;
  border-radius: 30px;
  padding: 20px;
}

.visitsLabel ::-webkit-scrollbar {
  height: 5px;
  margin: 5px;
}

.visitsLabel ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.visitsLabel ::-webkit-scrollbar-thumb {
  background: #184087;
  border-radius: 5px;
}

.visitsLabel .scrollLabel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  background-color: #D9D9D9;
  height: 310px;
  border-radius: 30px;
  padding: 15px 0;
}

.clientForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 150px 35px;
  grid-area: form;
  gap: 40px 10px;
  justify-content: center;
}

.formAddVisit {
  display: grid;
  grid-template-rows: 30px 150px 30px;
  grid-template-columns: 200px 200px;
  gap: 20px;
  justify-content: center;
}

.formAddVisit div {
  display: flex;
  justify-self: center;
}

.formAddVisit svg {
  margin: 0 15px;
}

.formAddVisit :nth-child(1),
.formAddVisit :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.clientForm :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.formAddVisit input,
.clientForm input {
  background: #D9D9D9;
  border-radius: 30px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
}

.formAddVisit textarea,
.clientForm textarea {
  background: #D9D9D9;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
}

.buttonsAddVisit {
  width: 40px;
  cursor: pointer;
}

.clientForm select {
  max-width: 250px;
  height: 35px;
  background: #D9D9D9;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 5px;
}

@media(max-width:1200px) {
  .editClient {
    grid-template-columns: 200px 1fr;
  }
}

@media(max-width:850px) {
  .editClient {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px 1fr;
    grid-template-areas:
      "resume"
      "form"
      "visits";
  }
}

@media(max-width:600px) {
  .formAddVisit {
    grid-template-columns: 150px 150px;
  }
}

@media(max-width:560px) {
  .editClient {
    margin: 0;
  }
}

@media(max-width:480px) {
  .formAddVisit {
    gap: 10px;
  }

  .clientForm {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px 35px 150px 35px;
  }

  .clientForm :nth-child(1),
  .clientForm :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .editClient {
    grid-template-rows: 200px 400px 1fr;
    gap: 50px;
  }
}

@media(max-width:410px) {
  .clientForm {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px 35px 150px 35px 35px 35px;
  }

  .formAddVisit :nth-child(3),
  .formAddVisit :nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .editClient {
    grid-template-rows: 200px 550px 1fr;
  }

  .formAddVisit {
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 150px 30px 50px;
  }

  .clientForm :nth-child(3),
  .clientForm :nth-child(5),
  .clientForm :nth-child(6),
  .clientForm :nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .clientForm :nth-child(7) {
    justify-self: center;
  }
}