.editClient {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 400px 1fr;
  grid-template-areas:
    "resume form"
    "visits visits";
  align-items: center;
  margin: 10px 30px 50px 0;
  gap: 20px;
}

.buttonEdit,
.buttonCancel {
  width: 35px;
  margin: 0 10px;
  cursor: pointer;
}

.buttonEdit {
  color: #184087;
}

.buttonCancel {
  color: red;
}

*:disabled {
  opacity: 1;
}

.resume {
  display: flex;
  grid-area: resume;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #184087;
}

.visitsLabel {
  grid-area: visits;
  background-color: #D9D9D9;
  height: 250px;
  border-radius: 30px;
  padding: 20px;
}

.clientForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 150px 35px;
  grid-area: form;
  gap: 40px 10px;
  justify-content: center;
}

.clientForm :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.clientForm input {
  background: #D9D9D9;
  border-radius: 30px;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px;
}

.clientForm textarea {
  background: #D9D9D9;
  border-radius: 15px;
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
}

.clientForm select {
  max-width: 250px;
  height: 35px;
  background: #D9D9D9;
  border-radius: 30px;
  outline: none;
  border: none;
  padding: 5px;
}

@media(max-width:1000px) {
  .editClient {
    grid-template-columns: 200px 1fr;
  }
}

@media(max-width:850px) {
  .editClient {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px 1fr;
    grid-template-areas:
      "resume"
      "form"
      "visits";
  }
}

@media(max-width:560px) {
  .editClient {
    margin: 0;
  }
}

@media(max-width:480px) {
  .clientForm {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px 35px 150px 35px;
  }

  .clientForm :nth-child(1),
  .clientForm :nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .editClient {
    grid-template-rows: 200px 400px 1fr;
    gap: 50px;
  }
}

@media(max-width:410px) {
  .clientForm {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 35px 35px 150px 35px 35px 35px;
  }

  .editClient {
    grid-template-rows: 200px 550px 1fr;
  }

  .btnsFormEdit {
    display: flex;
    justify-content: center;
  }

  .clientForm :nth-child(3),
  .clientForm :nth-child(5),
  .clientForm :nth-child(6),
  .clientForm :nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .clientForm :nth-child(7) {
    justify-self: center;
  }
}