.statusCircle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  margin: 0 10px;
}

.statusStyle {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 20px 0 20px;
  width: 205px;
}

@media(max-width:760px) {
  .statusStyle {
    display: none;
  }
}