.visit span {
  display: grid;
  grid-template-rows: 30px 190px 20px;
  grid-template-areas:
    "h4"
    "p"
    "h6";
  color: #184087;
  width: 300px;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 15px;
}

.visit h4 {
  grid-area: h4;
  margin: 0;
}

.visit p {
  grid-area: p;
}

.visit h6 {
  grid-area: h6;
  margin: 0;
}