.visit .mainVisit {
  display: grid;
  grid-template-rows: 30px 140px 40px 35px;
  grid-template-areas:
    "h4"
    "p"
    "h6"
    "btns";
  color: #184087;
  width: 300px;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 15px;
}

.mainVisit :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 4;
}

.visit h3 {
  grid-area: h4;
  margin: 0;
}

.visit p {
  grid-area: p;
}

.visit h6 {
  grid-area: h6;
  margin: 0;
}

.btns-visit {
  display: flex;
  height: 30px;
  grid-area: btns;
  justify-self: center;
}

.btns-visit svg {
  width: 30px;
  margin: 0 10px;
}