.background {
  position: absolute;
  width: 298px;
  height: 450px;

  background: linear-gradient(199deg, rgba(0, 10, 255, 0.5) 0%, rgba(71, 181, 255, 0.5) 98.32%),
    url('../../../assets/img/bg.jpg');
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 44px 0px 0px 44px;
}

@media(max-width: 700px) {
  .background {
    display: none;
  }
}