input {
  font-family: FontAwesome, 'Montserrat', sans-serif;
}

.signin {
  margin: 20px 0 20px 0;
}

.signin form {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 30px 30px 30px 30px;
  grid-gap: 10px;
  margin: 20px 0 30px;
}

.signin form input {
  border: none;
  border-bottom: 1px solid #909090;
}

.signin form input:focus {
  outline: none;
  border-bottom: 1px solid #2867B0;
}

input:focus::placeholder {
  color: #2867B0;
}

.signin form :nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.signin form :nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

@media(max-width: 750px) {
  .signin form {
    grid-template-columns: 140px 140px;
    grid-template-rows: 30px 30px 30px;
    grid-gap: 5px;
    margin: 5px;
  }

  .signin {
    margin: 30px 0 20px 0;
  }
}

@media(max-width: 700px) {
  .signin form {
    grid-template-columns: 200px 200px;
    grid-template-rows: 30px 30px 30px;
  }

  .signin {
    margin: 15px 0 20px 0;
  }
}

@media(max-width: 550px) {
  .signin form {
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 30px 30px;
  }
}