.modal {
  display: grid;
  position: absolute;
  z-index: 999;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  grid-row-end: 2;
  top: calc(50vh - 225px);
  left: calc(50vw - 300px);
  background: rgba(24, 64, 135, 0.85);
  backdrop-filter: blur(2px);
  border-radius: 30px;
  width: 600px;
  height: 450px;
  overflow: hidden;
  padding: 20px;
  color: #fff;
  outline: none;
  font-size: 20px;
}

.btns {
  display: flex;
  position: relative;
  top: 30px;
  flex-direction: row;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  margin: 0 40px;
}

@media (max-width:800px) {
  .modal {
    width: 500px;
    left: calc(50vw - 250px);
  }
}

@media (max-width:600px) {
  .modal {
    width: 400px;
    left: calc(50vw - 200px);
  }
}

@media (max-width:450px) {
  .modal {
    width: 350px;
    height: 550px;
    left: calc(50vw - 175px);
  }
}

@media (max-width:380px) {
  .modal {
    width: 300px;
    left: calc(50vw - 150px);
  }
}