p {
  display: none;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sideheader {
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-content: center;
  background: linear-gradient(105deg, #47B5FF -24.2%, #000349 100%);
  border-radius: 0px 30px 30px 0px;
  color: #fff;
  font-weight: 600;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  width: 100px;
  height: 100vh;
  transition: all 0.4s;
}

.sideheader nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100px;
  justify-content: space-between;
  height: 100%;
  transition: all 0.4s;
}

.sideheader nav :nth-child(6) {
  background-color: transparent;
  color: #fff !important;
}

.sideheader a {
  display: flex;
  padding: 15px 0 15px 15px;
  width: 100px;
  text-decoration: none;
  color: #fff;
  justify-content: start;
  align-items: center;
  border-radius: 0 40px 40px 0;
  transition: all 0.4s;
}

.toggle {
  display: inline-flex;
  justify-content: end;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 23px;
  width: 92px;
  height: 50px;
  border-radius: 40px 40px 40px 40px;
  background: linear-gradient(104deg, #47B5FF -24.2%, #000349 100%);
  cursor: pointer;
  transition: all 0.4s;
  color: #fff;
}

.toggle>i {
  font-size: 20px !important;
}

.toggle-active {
  left: 165px;
  border-radius: 0;
}

.p-active {
  display: block;
  margin: 0;
}

.a-active {
  width: 220px !important;
}

.active {
  color: #184087;
  background-color: #fff;
}

.sidebar-active {
  width: 250px !important;
}

.nav-active {
  width: 250px !important;
  margin: 0 !important;
}

.user {
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  height: 50px;
  border-radius: 40px;
  color: #184087;
  width: 50px;
  transition: all 0.4s;
}

.username {
  margin: 10px;
  visibility: hidden;
}

.username-active {
  visibility: visible;
}

.user-active {
  width: 180px !important;
  margin-left: 0px !important;
}

.user img {
  border-radius: 50%;
  width: 50px;
  border: solid 2px #fff;
}

.user span {
  padding: 5px;
  margin: 5px;
}

.sideheader i {
  margin: 0 20px;
  font-size: 30px;
}

@media (max-width:560px) {
  .sideheader {
    width: 0px;
    overflow-x: inherit;
  }

  .sideheader nav {
    width: 0px;
    margin-left: -100px;
  }

  .user {
    margin-left: -70px;
  }

  .toggle {
    left: -30px;
    width: 80px;
    justify-content: end;
  }
}